/************************************
Default Style
***********************************/

body {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	word-wrap: break-word;
}

body.has_fixed_head {
    padding-top: 115px;
}

.container {
	max-width:none !important;
	width:1224px !important;
}

.navbar-header {
	min-width:1206px !important;
}

.logo {
    padding: 10px 0px;
    margin: 0px;
    height: 60px;
}
.logo h1 {
    color: #333;
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 700;
}

.navbar-collapse.collapse {
  display: block!important;
  border:none;
}

.navbar-collapse {
	margin-right:-5px;
}

@media (max-width: 768px) {
	.navbar-collapse {
		margin-right:-20px;
	}
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

/* Hide breadcrumbs if header is fixed (Save space) */
.has_fixed_head .breadcrumb {
	display: none;
}

/* Default Link Color */
a {
	color: #181C21;
}

a:hover, a:focus {
	color: #8A8A8A;
}

/* Header */
.site_header  {
	background-color: #FFFFFF;
	border-color: #C5C5C5;
	-webkit-box-shadow: 0 0 4px rgba(49, 49, 49, 0.5);
	-moz-box-shadow: 0 0 4px rgba(49, 49, 49, 0.5);
	box-shadow: 0 0 4px rgba(49, 49, 49, 0.5);
	margin-bottom: 5px;
	min-width:1224px;
}

/* Nav Bar */
.navbar-inverse {
	background-color: #FFFFFF;
	border: 0px;
	height:60px;
}
.navbar-inverse .navbar-nav>li>a{
	color: #333333;
	padding: 16px 8px;
	margin: 3px 2px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: #1F1F1F;
	background-color: transparent;
	outline: none;
	border-bottom: 1px solid #181C21;
}
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
	color: #000000;
	background-color: transparent;
	outline: none;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #000000;
	background-color: #FFFFFF;
	outline: none;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
	color: #FFFFFF;
	background-color: #181C21;
	outline: none;
}
.navbar-inverse .navbar-toggle {
	border: 2px solid #181C21;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #181C21;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus{
	background-color: #E5E5E5;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #555555;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #000000;
		background-color: transparent;
	}
}

.dropdown-submenu {
	position:relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 0;
	margin-top: 0;
	margin-left: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0px;
	position: relative;
	box-shadow: none;
	background: #FFFFFF;
	padding:0px;
}


.navbar-nav {
	float: right;
	margin: 0;
	font-weight:700;
}

/* Search Bar Top */
.head_tool_bar {
	background: #181C21;
	min-width:1224px;
	width:100% !important;
}
.tool_bar_search {
	background: #333333;
}
.tool_bar_search_input {
	padding: 10px;
}
.tool_bar_search .input-group input{
	box-shadow: none;
}

/* Modal - Overrides Bootstrap */
.modal-content {
	border: 0px;
	border-radius: 0px;
}
.modal-header {
	background: #FFFFFF;
	color: #2F2E2E;
	padding: 10px;
	border-bottom: 1px solid #181C21;
	text-align: center;
}
.modal-header h3 {
	margin: 10px 0px;
}
.modal-body {
	padding: 10px;
}
@media only screen and (max-width : 480px) {
  .modal-body{
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
}

.modal-foot-controls {
	padding: 10px;
	border-top: 1px solid #181C21;
}

/* Alerts - Overrides Bootstrap */
.alert {
	border-left: 3px solid transparent;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-radius: 0px;
	margin: 5px 5px 15px 5px;
}
.alert-success {
	color: #586258;
	background-color: #D5FFC4;
	border-color: #62AA26;
}
.alert-danger {
	color: #6C6C6C;
	background-color: #F0CCC9;
	border-color: #F44336;
}
.alert-info {
	color: #696A6A;
	background-color: #BDE6FA;
	border-color: #2196F3;
}
.alert-warning {
	color: #7B7B7B;
	background-color: #FFEC89;
	border-color: #FF9800;
}

/* Buttons - Overrides Bootstrap */
.btn {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn-danger {
	color: #D43F3A;
	background: none;
	border-color: #d43f3a;
	border-width: 2px;
}
.btn-warning {
	color: #EEA236;
	background: none;
	border-color: #eea236;
	border-width: 2px;
}
.btn-success {
	color: #4CAE4C;
	background: none;
	border-color: #4cae4c;
	border-width: 2px;
}
.btn-primary {
	color: #333;
	background: none;
	border-color: #333;
	border-width: 2px;
}
.btn-primary:hover {
	color: #fff;
	background: #222;
	border-color: #222;
	border-width: 2px;
}

/* Custom button - btn-base-light */
.btn-base-light {
	color: #FFFFFF;
	background-color: transparent;
	border-color: #FFFFFF;
	border-width: 2px;
}
.btn-base-light:focus,
.btn-base-light.focus {
	background-color: #FFFFFF;
	color: #212931;
	border-color: #FFFFFF;
	outline: none;
}
.btn-base-light:hover {
	background-color: #FFFFFF;
	color: #212931;
	border-color: #FFFFFF;
}
.btn-base-light:active,
.btn-base-light.active,
.open > .dropdown-toggle.btn-base-light {
	color: #000000;
	background-color: #E6E6E6;
	border-color: #FFFFFF;
}
.btn-base-light:active:hover,
.btn-base-light.active:hover,
.open > .dropdown-toggle.btn-base-light:hover,
.btn-base-light:active:focus,
.btn-base-light.active:focus,
.open > .dropdown-toggle.btn-base-light:focus,
.btn-base-light:active.focus,
.btn-base-light.active.focus,
.open > .dropdown-toggle.btn-base-light.focus {
	background-color: #FFFFFF;
	color: #212931;
	border-color: #FFFFFF;
}
.btn-base-light:active,
.btn-base-light.active,
.open > .dropdown-toggle.btn-base-light {
	background-image: none;
}
.btn-base-light.disabled,
.btn-base-light.disabled:hover,
.btn-base-light[disabled]:hover,
fieldset[disabled] .btn-base-light:hover,
.btn-base-light.disabled:focus,
.btn-base-light[disabled]:focus,
fieldset[disabled] .btn-base-light:focus,
.btn-base-light.disabled.focus,
.btn-base-light[disabled].focus,
fieldset[disabled] .btn-base-light.focus {
	background-color: #868686;
	border-color: #696969;
	color: #A7A7A7;
	cursor: not-allowed;
}
.btn-base-light .badge {
	color: #474747;
	background-color: #FFFFFF;
}

/* Custom button - btn-base-dark */
.btn-base-dark {
	color: #181C21;
	background: none;
	border-color: #181C21;
	border-width: 2px;
}
.btn-base-dark:focus,
.btn-base-dark.focus {
	color: #FFFFFF;
	background-color: #181C21;
	border-color: #181C21;
	border-width: 2px;
	outline: none;
}
.btn-base-dark:hover {
	color: #FFFFFF;
	background-color: #181C21;
	border-color: #181C21;
	border-width: 2px;
	outline: none;
}
.btn-base-darkt:active,
.btn-base-dark.active,
.open > .dropdown-toggle.btn-base-dark {
	color: #FFFFFF;
	background-color: #181C21;
	border-color: #181C21;
	border-width: 2px;
	outline: none;
}
.btn-base-dark:active:hover,
.btn-base-dark.active:hover,
.open > .dropdown-toggle.btn-base-dark:hover,
.btn-base-dark:active:focus,
.btn-base-dark.active:focus,
.open > .dropdown-toggle.btn-base-dark:focus,
.btn-base-dark:active.focus,
.btn-base-dark.active.focus,
.open > .dropdown-toggle.btn-base-dark.focus {
	color: #FFFFFF;
	background-color: #181C21;
	border-color: #181C21;
	border-width: 2px;
	outline: none;
}
.btn-base-dark:active,
.btn-base-dark.active,
.open > .dropdown-toggle.btn-base-dark {
	background-image: none;
}
.btn-base-dark.disabled,
.btn-base-dark.disabled:hover,
.btn-base-dark[disabled]:hover,
fieldset[disabled] .btn-base-dark:hover,
.btn-base-dark.disabled:focus,
.btn-base-dark[disabled]:focus,
fieldset[disabled] .btn-base-dark:focus,
.btn-base-darkt.disabled.focus,
.btn-base-dark[disabled].focus,
fieldset[disabled] .btn-base-dark.focus {
	color: #989898;
	background-color: #D6D6D6;
	border-color: #CCCCCC;
	border-width: 2px;
	outline: none;
	cursor: not-allowed;
}
.btn-base-dark .badge {
	color: #474747;
	background-color: #FFFFFF;
}

/* Sidebar */
.panel-sidebar {
	border:0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.panel-sidebar > .panel-heading {
	padding: 0px;
}
.panel-sidebar > .panel-heading h3 {
	padding: 10px 0px;
	border-bottom: 2px solid #181C21;
	margin: 0px 0px 0px 0px;
	font-size: 24px;
}
.panel-sidebar img {
	max-width: 100%;
}
.panel-sidebar.Widget_Categories > .panel-body > ul,
.panel-sidebar.Widget_Locations > .panel-body > ul,
.panel-sidebar.Widget_Forum > .panel-body > ul,
.panel-sidebar.Widget_RSS > .panel-body > ul {
	padding-left: 0;
	margin-bottom: 0;
}
.panel-sidebar.Widget_RSS > .panel-body ul {
  padding-left: 0;
}

.panel-sidebar.Widget_RSS > .panel-body ul li.rss-item {
  margin-bottom: 10px;
}
.slider-handle{
	background-color: #181C21;
	background-image: linear-gradient(to bottom, #181C21, #2f3237);
}

/* Pager */
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #181C21;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #181C21;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #181C21;
	border-color: #181C21;
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
	color: #CACACA;
	cursor: not-allowed;
	background-color: #FFF;
	border-color: #181C21;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	z-index: 2;
	color: #FFFFFF;
	background-color: #181C21;
	border-color: #181C21;
	outline: none;
}

/* Page Header */
.page-header {
	padding-bottom: 0px;
	margin: 0px 0 20px;
	border-bottom: 2px solid #181C21;
}
.page-header h3 {
	padding: 10px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 24px;
}

/*** General Styling ***/
.container {
	width: 100%;
	max-width: 1224px;
}

.add-transition {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

label {
	font-weight: 400;
}

.form-control:focus {
    border-color: #181C21;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.breadcrumb-wrapper {
	background: #F5F5F5;
}

.breadcrumb {
	padding:0;
	margin-bottom:0px;
}

.breadcrumb li {
	padding:10px 0 10px 15px;
	margin-right:-10px;
}

/* Padding */
.pad_10 {
	padding: 10px;
}
.pad_10s {
	padding: 0px 10px;
}
.pad_10tb {
	padding: 10px 0px;
}
.pad_5tb {
	padding: 5px 0px;
}

/* List Group */
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	z-index: 2;
	color: #181C21;
	background-color: #DDDDDD;
	border-color: #DDDDDD;
}

/* Panel Overrides */
.panel {
	border-radius: 0px;
}
.panel-heading {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

/* Index */
.index-head {
	background-image: url('../img/home-head.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: -5px;
	min-width:1224px;
}
.index-head h2 {
	padding: 10% 5% 0% 5%;
	text-align: center;
	color: #FFF;
}
.index-head .index-head-btns {
	text-align: center;
	padding: 6% 5% 10% 5%;
}
.index-head .index-head-btns .btn {
	margin: 3px 0px;
	border-radius: 2px;
}

.color-section {
	background-color: #212931;
}
.color-section h3 {
	color: #FFFFFF;
	font-size: 30px;
	text-align: left;
}

.post-ad-banner {
	padding: 50px 0px;
	min-width:1224px;
}
.post-ad-banner-text {
	font-size: 32px;
	color: #FFF;
	padding: 10px 0px;
}
.post-ad-banner-btn .btn{
	margin: 10px 0px;
}

/* Auth Pages Btns */
.auth-page .modal-foot-controls {
	border: 0px;
}
.auth-page.forgot-pass .reg-btn {
	display: none;
}
.auth-page.login .reg-btn {
	display: none;
}
.auth-page.reg .log-btn {
	display: none;
}

/**** Homepage Map *****/
.homepage_map{
	padding: 50px 0;
}

/**** Home - Ad Grid *****/
.home_grid {
	margin: 0 -10px 20px -10px
}
.home_grid ul.ad_squares {
	padding: 0px;
	margin: 0px;
	list-style: none;
	overflow: hidden;
}
.home_grid ul.ad_squares li.c_ad_block {
	width: 25%;
	float: left;
}
.home_grid ul.ad_squares li.c_ad_block .ad_block_inner {
	margin: 0px 10px;
}
.home_grid ul.ad_squares li.c_ad_block a {
	display: block;
	position: relative;
	margin: 10px auto;
}
.home_grid ul.ad_squares li.c_ad_block a span.ad_price {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #5CB85C;
	color: #FFF;
	padding: 3px 5px;
	font-size: 14px;
	text-align: center;
}
.home_grid ul.ad_squares li.c_ad_block a img {
	width: 100%;
}

/* Home Cats */
.home_cats h3 {
	padding: 10px;
	margin: 10px 0px;
}
.panel-home-categories {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-home-categories > .panel-heading {
	border-bottom: 1px solid #212931;
	font-size: 16px;
	padding: 5px 10px 5px 0px;
	text-align: left;
}
.panel-home-categories > .panel-heading a {
	color: #212931;
	font-size: 22px;
}
.panel-home-categories > .panel-body {
	padding: 5px 0;
}
.panel-home-categories > .panel-body > .list-group {
	margin-bottom: 0;
}
.panel-home-categories > .panel-body > .list-group > .list-group-item {
	padding: 0px;
	border: none;
}
.panel-home-categories > .panel-body > .list-group > .list-group-item a {
	display: block;
	padding: 5px 10px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	color: #555B61;
}
.panel-home-categories > .panel-body > .list-group > .list-group-item a:hover {
	text-decoration: none;
}
.panel-home-categories > .panel-body > .list-group > .list-group-item a:focus {
	outline: none;
	text-decoration: none;
}

/* General Listings */
.cat_loc_desc {
	padding: 20px;
	background: #F5F5F5;
	border-left: 2px solid #181C21;
	margin-bottom: 10px;
}
.cat_loc_desc p {
	margin: 5px 0px;
}

.ad_listings {
	padding: 0;
	margin: 10px 0px;
}
.ad_listings ul.ad_list {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.ad_listings ul.ad_list li.ad_listitem {
	position: relative;
}
.ad_listings ul.ad_list h2 .favorite a{
	text-decoration: none;
}

/* Featured - List View */
.ad_listings ul.ad_list.list li.ad_listitem.featured_ad span.feat_marker {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 30px;
	color: #FFC107;
}
.ad_listings ul.ad_list.list li.ad_listitem.featured_ad .ad_inner {
	border: 2px solid #FFC107;
	margin: 10px 0px;
	-webkit-box-shadow: 0 0 4px rgb(119, 119, 119);
	-moz-box-shadow: 0 0 4px rgb(119, 119, 119);
	box-shadow: 0 0 4px rgb(119, 119, 119);
}

/* Featured - Gallery View */
.ad_listings ul.ad_list.gallery {
	margin:0 -10px;
}
.ad_listings ul.ad_list.list li.ad_griditem.featured_ad span.feat_marker {
	display: none;
}
.ad_listings ul.ad_list.list li.ad_griditem.featured_ad .ad_inner .ad_photo img {
	border: 2px solid #FFC107;
}
.ad_listings ul.ad_list.list li.ad_griditem.featured_ad .ad_inner .ad_photo a .fm {
	position: absolute;
	top: -5px;
	right: 5px;
	font-size: 30px;
	color: #FFC107;
	display: block;
}
.ad_listings ul.ad_list.list li.ad_griditem.featured_ad span.ad_gprice {
	background: #FFC107;
	color: #2F2F2F;
}

/* Single view fix */
.single .alert {
	margin:0 0 15px 0;
}

/* General - List View */
.ad_listings ul.ad_list.list li.ad_listitem {
	width: 100%;
}
.ad_listings ul.ad_list.list li.ad_listitem .ad_inner {
	padding: 10px 10px;
	border: 2px solid #EAEAEA;
	margin: 5px 0px;
	overflow: hidden;
	width:100%;
}
.ad_listings ul.ad_list.list li .ad_photo {
	width: 30%;
	float: left;
}
.ad_listings ul.ad_list.list li .ad_details {
	width: 70%;
	float: left;
}
.ad_listings ul.ad_list.list li .ad_photo .ad_photo_inner {
	padding: 0px 10px;
}
.ad_listings ul.ad_list.list li .ad_details .ad_details_inner {
	padding: 0px 10px;
}
.ad_listings ul.ad_list.list li .ad_photo img {
	display: block;
	width: 100%;
	max-width : 180px;
	margin: 0px auto;
}
.ad_listings ul.ad_list.list li .ad_details h2 {
	margin: 0px;
	font-size: 20px;
}
.ad_listings ul.ad_list.list li .ad_details p.ad_meta {
	font-size: 12px;
	padding: 4px 0px;
	color: #929090;
}
.ad_listings ul.ad_list.list li p.ad_desc {
	color: #A5A5A5;
	min-height: 85px;
}
.ad_listings ul.ad_list.list li .ad_buttons {
	text-align: right;
}
.ad_listings ul.ad_list.list li .ad_price {
	display: inline-block;
}
.ad_listings ul.ad_list.list li .ad_price a {
	display: block;
	border: 2px solid #5DC762;
	color: #505050;
	padding: 10px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	text-decoration: none;
}
.ad_listings ul.ad_list.list li .ad_price a:hover {
	color: #FFFFFF;
	background: #64D669;
}
.ad_listings ul.ad_list.list li .ad_price a:focus,
.ad_listings ul.ad_list li .ad_price a:active {
	color: #FFFFFF;
	background: #64D669;
	outline: none;
}
.ad_listings ul.ad_list.list li .ad_price.na a {
	display: block;
	padding: 10px;
	text-decoration: none;
	border: 2px solid #9A9A9A;
	color: #6D6D6D;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}
.ad_listings ul.ad_list.list li .ad_price.na a:hover {
	color: #828282;
	background: #eee;
}
.ad_listings ul.ad_list.list li .ad_price.na a:focus,
.ad_listings ul.ad_list.list li .ad_price.na a:active {
	background: #E2E2E2;
	color: #8A8A8A;
	border-color: #DDD;
	outline: none;
}
.ad_listings ul.ad_list.list .gallery_only {
	display: none;
}

/* Grid View */

.ad_inner{
	float:left;
	max-height: 270px;
}

li.ad_griditem .ad_inner {
	padding: 10px 10px;
	border: 2px solid #EAEAEA;
	margin: 5px 0px;
	overflow: hidden;
}
.ad_listings ul.ad_list.list li.ad_griditem .ad_photo {
	width: 50%;
	float: left;
}
.ad_listings ul.ad_list.list li.ad_griditem .ad_details {
	width: 50%;
	float: left;
}

/* General -  Gallery View */
.ad_listings ul.ad_list.gallery li.ad_listitem .ad_inner .ad_photo a .fm {
	display: none;
}
.ad_listings ul.ad_list.gallery li.ad_listitem {
	width: 25%;
	float: left;
}

.ad_listings ul.ad_list.gallery li.ad_listitem .ad_inner {
	margin:10px;
}

.ad_listings ul.ad_list.gallery li.ad_listitem .ad_inner .ad_photo {
	display:inline-block;
	width:100%;
}

.ad_listings ul.ad_list.gallery li.ad_listitem  .ad_photo .ad_photo_inner {
	margin: 3px;
}
.ad_listings ul.ad_list.gallery li.ad_listitem .ad_details {
	display: none;
}
.ad_listings ul.ad_list.gallery li.ad_listitem .ad_photo a {
	display: block;
	position: relative;
	margin: 0px auto;
}
.ad_listings ul.ad_list.gallery li.ad_listitem .ad_photo img {
	width:100%;
}
.ad_listings ul.ad_list.gallery li.ad_listitem span.ad_gprice {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #4CAF50;
	color: #FFF;
	padding: 5px;
	width: 100%;
	text-align: center;
}

/* No Results */
.no_results {
	margin: 100px 0px;
}
.no_results .nr_badge {
	display: block;
	padding: 5px;
	font-size: 40px;
	color: #E4E4E4;
}
.no_results .nr_info {
	color: #A5A4A4;
}

/* Ad Options */
ul.ad_controls_list {
	padding: 0px;
	margin: 10px 0px;
	list-style: none;
}
ul.ad_controls_list li {
	padding: 5px 0px;
	text-align: center;
}
ul.ad_controls_list li .btn {
	width: 150px;
}

.listing_filter {
	margin: 10px 0px 20px 0px;
	padding: 12px 0px;
	border-bottom: 2px solid #eee;
}
.listing_filter .loc_opts {
	float: left;
}
.listing_filter .sort_opts {
	float: right;
}

@media only screen and (max-width : 461px) {
	.listing_filter .loc_opts {
		display: none;
	}
}

/* Search */
#adv_search_form label {
	padding: 10px 2px;
	font-size: 16px;
	font-weight: normal;
	color: #6B6B6B;
	margin: 0px;
}
#adv_search_form .form-inline .form-control {
	width: 95%;
}

/* Dropdown Edit Search */
.drop-edit-search{
	margin-bottom: 25px;
}

a.collapse_searchform_expand {
	display: block;
	padding: 10px;
	background: #181C21;
	color: #FFF;
    text-align: center;
}
a.collapse_searchform_expand:hover,
a.collapse_searchform_expand:focus,
a.collapse_searchform_expand:active {
	background: #48494A;
	color: #FFF;
	text-decoration: none;
}
#collapsAdvSearchForm {
	background: #F8F8F8;
	color: #ECECEC;
	padding: 10px 10px 20px 10px;
	border-bottom: 2px solid #181C21;
}
#collapsAdvSearchForm label {
	padding: 10px 2px;
	font-size: 16px;
	font-weight: normal;
	color: #313131;
	margin: 0px;
}
#collapsAdvSearchForm .form-inline .form-control {
	width: 95%;
}
#collapsAdvSearchForm .select2-container--default {
	width: 95% !important;
}

/* Ad Page */
.main-ad-right,.main-ad-left {
	margin: 5px 0px;
}
.seller_box {
	border: 1px solid #e3e3e3;
	position: relative;
}
.seller_box .favorite {
	position: absolute;
	top: 8px;
	right: 5px;
}
.seller_box .ad_details {
	margin:20px 0 10px;
}
p.seller_user {
	padding: 0px 0px;
	margin: 0px;
	font-size: 16px;
}
p.seller_location {
	padding: 0px 0px 5px 0px;
	margin: 0px;
	font-size: 12px;
	color: #808080;
	border-bottom: 1px solid #e1e1e1;
}
p.seller_user_ul {
	padding: 5px;
	margin: 0px;
	font-size: 16px;
	border-bottom: 1px solid #e1e1e1;
}
.seller_f_block {
	width: 50%;
	float: right
}
.seller_f_block .sf_btn {
	display: block;
	padding: 10px 0px;
	background: #e1e1e1;
	text-align: center;
}

.seller_f_block .sf_btn:hover,
.seller_f_block .sf_btn:focus,
.seller_f_block .sf_btn:active{
	background: #181C21;
	color: #FFF;
	text-decoration: none;
}
.seller_f_block .sf_btn.i_price {
	display: block;
	background: #8BC34A;
	padding: 10px 0px;
	color: #FFF;
	text-align: center;
}
.seller_f_block .sf_btn.i_price:hover,
.seller_f_block .sf_btn.i_price:focus,
.seller_f_block .sf_btn.i_price:active{
	display: block;
	background: #6B9A33;
	color: #FFF;
	text-decoration: none;
}
.ad_details p {
	margin: 0px;
	padding: 5px 2px;
	color: #777;
}
.ad_info .ad_desc {
	padding: 20px 10px;
}
.ad_images .mainThumb {
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
	text-align: center;
}
.ad_images .ad_thumb_block {
	width: 33.33333333%;
	float: left;
}
.ad_images .thumbnail {
	border: 0px;
	margin: 5px 5px;
	padding: 5px 0px;
}

.favorite a i {
	font-size:20px;
	color:#888888;
}
.favorite .remove-favorite i {
    color: #FFC107;
}

.tab-content>.tab-pane {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.comments_section {
	padding: 20px 10px;
}

.boost_ad {
	border: 3px solid #8BC34A;
	padding: 0px;
}
.boost_ad_inner {
	border: 1px solid #7EAF45;
	padding: 10px;
}

/* Checkout */
.checkout_bill {
	width: 600px;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #E8E8E8;
	-webkit-box-shadow: 0 0 4px rgba(216, 216, 216, 0.81);
	-moz-box-shadow: 0 0 4px rgba(216, 216, 216, 0.81);
	box-shadow: 0 0 4px rgba(216, 216, 216, 0.81);
}

@media only screen and (max-width : 760px) {
	.checkout_bill {
		width: 97%;
		padding: 0px;
	}
}

.checkout_bill h1 {
	margin: 0px 0px 10px 0px;
	text-align: center;
	padding: 0px 0px 10px 0px;
	border-bottom: 2px solid #E8E8E8;
	color: #9A9999;
}

/* Form */
.clean_form dl.form-group {
	margin: 5px;
}
.clean_form dl dt {
	padding: 5px 0px;
}
.clean_form dl dt label {
	display: block;
	text-align: left;
	margin: 0;
	color: #727272;
}
.clean_form dl dd #price {
	width: 150px;
}
.clean_form dl.capt {
	padding: 5px;
	border-top: 1px solid #E5E5E5;
	margin-top: 20px;
}
.clean_form dl.capt dt,.clean_form dl.capt dd {
	width: 50%;
	float: left;
}
.clean_form dl.capt dd {
	padding: 10px 0px;
}

@media only screen and (max-width : 450px) {
	.clean_form dl.capt dt,.clean_form dl.capt dd {
		width: 100%;
		float: none;
	}
}

/* Create New Ad */
.form-captcha {
	width: 250px;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #E5E5E5;
}
.form-captcha.wide-view {
	width: 80%;
}
.form-captcha span {
	display: block;
	margin-bottom:3px;
	padding: 3px;
}
.form-captcha span.cap_note {
	padding: 0px 0px 8px 0px;
	border-bottom: 1px solid #e8e8e8;
}
.form-captcha span.cap_img img {
	display: block;
	margin: 0px auto;
}
img#captcha_img_publish_new {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.form-captcha input#captcha {
	width: 100px;
	margin: 0px auto;
}

.extra_btn {
	display: block;
	margin: 5px;
}

.fc-small{
	width: 100px;
}

/* Subscriptions */
.badge.max-price {
	background-color: #F44336;
}
.badge.min-price {
	background-color: #4CAF50;
}

/* Messages */
i.unread {
	color: #C5C5C5;
}
.mess_pad {
	padding: 0px 0px 3px 0px;
	word-break: break-all;
}
.inbox-side-menu {
	display: none;
}

@media (min-width: 768px) {
	.inbox-side-menu {
		display: block;
	}
}

.inbox-top-menu {
	display: block;
	padding: 0px 0px 10px 0px ;
}

@media (min-width: 768px) {
	.inbox-top-menu {
		display: none;
	}
}

.convo_item {
	padding-bottom: 10px;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 10px;
}
.convo_item .mess-date {
	color: #A4A4A4;
}
.convo_item .messContent {
	color: #4D4D4D;
	margin-bottom: 20px;
}

/* ORDERS */
span.order-unpaid i {
	color: #F10;
}
span.order-paid i {
	color: #8BC34A;
}

/* My Ad's */
.my_ad_listitem {
	border-bottom: 1px solid #EEEEEE;
	margin: 0px 0px 10px 0px;
	padding: 10px 10px;
}
.my_ad_listitem .my_ad_title a.at {
	font-size: 16px;
}
.my_ad_listitem  p {
	margin: 3px 0px;
}
.my_ad_listitem .ad_pcoll {
	width:20%;
	float: left;
}
.my_ad_listitem .ad_pcoll img {
	display:block;
	width: 100%;
	max-width: 200px;
	margin: 0px auto;
}
.my_ad_listitem .ad_dcoll {
	width:80%;
	float: left;
}

@media (max-width: 464px) {
	.my_ad_listitem {
		border: 1px solid #EEEEEE;
	}
	.my_ad_listitem .ad_pcoll {
		width:100%;
		float: none;
	}
	.my_ad_listitem .ad_dcoll {
		width:100%;
		float: none;
		border-top: 1px solid #EAEAEA;
	}
}

/* FAQ */
.faq-full {
	padding: 10px 10px 25px 10px;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 25px;
}
.faq-list .faq-text{
	width:100%;
}

/* BLOG */
.blog-item {
	margin-top: 10px;
	border-width: 2px;
}
.blog-item p.post-info {
	padding: 3px 10px;
	color: #6E6E6E;
	background: #F0F0F0;
	margin: 0px 0px 10px 0px;
}
.blog-item img {
	display: block !important;
	height: auto !important;
	max-width: 100% !important;
	margin: 0 !important;
}
.blog-item.panel.panel-default .panel-heading {
	color: #434343;
	border-color:#F0F0F0;
	padding: 0px;
	background-color: #fff;
}
.blog-item.panel.panel-default .panel-heading h4 {
	margin: 0px;
}
.blog-item.panel.panel-default .panel-heading h4 a {
	display: block;
	padding: 15px 10px;
	color: #727272;
}
.blog-item.panel.panel-default .panel-heading h4 a:hover {
	text-decoration: none;
	background-color: #f5f5f5;
}

/* Blog - full post */
.blog-full{
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 25px;
}
.blog-full .post-info {
	color: #858585;
}
.blog-full .blog-content {
	padding: 10px 10px 25px 10px;
}
.blog-full .blog-content img {
	display: block !important;
	height: auto !important;
	max-width: 100% !important;
	margin: 0 !important;
}

/* Forums */
table#forum-table thead th {
	font-weight: 400;
}
table#forum-table  td, table#forum-table .sibling-forum th {
	font-size: 18px;
	font-weight: 400;
}

/* Forums List */
.topic-row {
	border: 1px solid #e3e3e3;
	margin-bottom: 4px;
}
.topic-row.header {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #e3e3e3;
	margin-bottom: 10px;
}
.topic-row.header span {
	font-size: 16px;
	color: #000;
}
.topic-row span {
	display: block;
	padding: 8px 3px;
	color: #5A5A5A;
}
.topic-row .topic-title {
	width: 56%;
	float: left;
}
.topic-row .topic-title a {
	display: block;
	font-weight: 300;
}
.topic-row .topic-date {
	width: 17%;
	float: left;
	text-align: center;
	font-size: 14px;
}
.topic-row .topic-replies {
	width: 10%;
	float: left;
	text-align: center;
	font-size: 14px;
}

.search-topics .topic-row .topic-forum {
	width: 27%;
	float: left;
	text-align: center;
	font-size: 14px;
}
.search-topics .topic-row .topic-date {
	font-size: 14px;
}

/* Follow us widget */
.widget_follow a:hover{
  text-decoration: none;
}
.widget_follow i{
  margin: 2px;
}
.widget_follow a:hover .fa{
    color: #ccc;
}
.widget_follow .fa-facebook-square{
    color: #3a5795;
}
.widget_follow .fa-twitter-square{
    color: #55acee;
}
.widget_follow .fa-instagram{
    color: #b09375;
}
.widget_follow .fa-pinterest-square{
    color: #cb2027;
}
.widget_follow .fa-google-plus-square{
    color: #d73d32;
}
.widget_follow .fa-linkedin-square{
    color: #0077b5;
}
.widget_follow .fa-youtube-square{
    color: #e12b28;
}
.widget_follow .fa-flickr{
    color: #ff0084;
}

.Widget_Image{
	background-color: inherit;
}

.Widget_Seller .glyphicon-star{
	color: #DAA520;
}

@media only screen and (max-width : 768px) {
	.topic-row.header {
		display: none;
	}
	.topic-row .topic-title {
		width: 100%;
		background: #f0f0f0;
	}
	.topic-row .topic-date {
		width: 40%;
		font-size: 12px;
	}
	.topic-row .topic-replies {
		width: 20%;
		font-size: 12px;
	}
	.search-topics .topic-row .topic-forum {
		width: 50%;
		font-size: 12px;
	}
	.search-topics .topic-row .topic-date {
		width: 50%;
		font-size: 12px;
	}
}

/* Topic View */
.topic-view img {
	max-width: 100%;
}
.topic-view .action-btns {
	margin-bottom: 20px;
}
.topic-view .topic-author {
	margin-top: 20px;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #F8F8F8;
}
.topic-view .topic-author  img {
	width: 80px;
	float: left;
	margin-right: 20px;
}
.topic-view .topic-author  ul {
	padding-left: 105px;
}
.topic-view .topic-author ul li {
	padding: 2px;
}

/* Forum comment */
.forum-comment {
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #e3e3e3;
}
.forum-comment .comment-user-block {
	width: 20%;
	float: left;
}
.forum-comment .comment-user-block img.comment-auth {
	display: block;
	width: 100%;
	max-width: 100px;
	margin: 0px auto;
}
.forum-comment .comment-content {
	width: 80%;
	float: left;
}
.forum-comment .comment-content p.comment-info {
	color: #8D8C8C;
	font-size: 14px;
	padding: 0px 5px;
}
.forum-comment .comment-content .comment-full {
	padding: 5px 5px 20px 5px;
	word-wrap: break-word;
	word-break: break-word;
}

.login-required {
	padding: 20px 10px;
	text-align: center;
	margin: 20px 0px;
}

/* USERS */
#users .user-block {
	width: 25%;
	float: left;
}
#users .user-block .ub-inner {
	margin: 5px;
}
#users .user-block .thumb-img {
	position: relative;
}
#users .user-block .thumb-img .badge {
	position: absolute;
	top: 5px;
	right: 5px;
}
#users .user-block .thumb-img p.u-name {
	position: absolute;
	bottom: 0px;
	margin: 0px;
	text-align: center;
	display: block;
	width: 100%;
	background: #4CAF50;
	padding: 5px 0px;
	word-wrap: break-word;
	word-break: break-all;
}
.profile-view .ad_item{padding:10px 0;}

@media only screen and (max-width : 649px) {
	#users .user-block {
		width: 50%;
		float: left;
	}
}

@media only screen and (max-width : 410px) {
	#users .user-block {
		width: 80%;
		float: none;
		margin: 0 auto;
	}
}

/* Profile */
.profile-view .profile-img {
	max-width: 200px;
	margin: 0px auto;
}

/* FOOTER */
footer {
	background: #212931;
	color: #FFF;
	padding-top:20px;
	width:100%;
	min-width:1224px;
}
footer a {
	color: #FFF;
}
footer a:focus,
footer a:hover {
	color: #8A8A8A;
}

.footer-widgets h3 {
	font-size: 23px;
}
.footer-widgets ul {
	padding: 0px;
}

.footer-widgets .panel-heading, .footer-widgets .panel-body {
 	padding-left:0;
 	padding-right:0;
}

.main-footer-content {
	border-top: 1px solid #121519;
}
.main-footer-content p {
	padding: 8px;
	margin: 0px;
}
.footer-menu{
	padding: 10px 0px;
}

/* Featured Ads Widget */
.featured-sidebar-box {
	width: 100%;
	float: none;
	min-height: 200px;
}
.feat-spacer{
	margin: 5px;
}
.featured-sidebar-box .ad-container {
	position: relative;
	max-width: 200px;
	margin: 0px auto;
}
.featured-sidebar-box .picture img {
	display: block;
	max-width: 200px;
	margin: 0px auto;
}
.featured-sidebar-box span.ad_price {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #5CB85C;
	color: #FFF;
	padding: 3px 5px;
	font-size: 14px;
	text-align: center;
}

/** Payments **/
.ml-10 {margin-left: 10px;}
.sidebar-nav {padding: 9px 0;}
.btn-header-group {margin-right: -15px;}
li {list-style-type: none;}
.logo {
	padding:0;
	padding: 10px 0;
	margin:0;
	height: 60px;
}
@media (max-width: 768px) {
	.logo {
		margin-left:15px;
	}
}
.logo h1 {
	color: #333333;
	font-size: 20px;
	margin:10px 0;
	font-weight:700;
}
.logo img {
	max-height: 40px;
	max-width:100%;
}
.custom_box {height: 10px;}
.custom_box_content {
	background-color: #FFF;
    padding: 0 0 0 5px;
}
.picture img {max-width: 150px; margin-right: 10px;}
.thumbnail.highlight {
	background-color: #f5f5f5;
	padding: 13px;
}

.count_ads {
	float:right;
}
.nav-header a {
	text-decoration: none;
	font-size: 12px;
	position: relative;
	top: 5px;
}
.mr-new {padding-left: 150px;}

#modal-gallery {

	width: 50%;
}
.header_cat_list {
	font-size: 13px;
}
.btn-header-group {padding-top: 10px;}

/*Publish new*/
.cat-selector {margin: 2px 0px 0 0;height: 30px;font-size: 14px;padding-top: 3px;background: #fff;color: inherit;border-color:#ccc;text-align: left;}
.accordion-heading .glyphicon-plus.glyphicon {float: right;font-size: 18px;}
.accordion-heading .radio {padding:0;}

/* collapsable categories selector*/
.btn.btn-primary.btn-xs.collapsed {
	display: inline-block !important;
}
.accordion-group {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.accordion-inner {border-top: none;}

.resized {width: 205px;}

/* collapsable categories selector*/
.accordion-body {margin-left: 15px;}

.select2-container--default .select2-selection--single {
    height: 34px;
    border-color: #ccc;
    padding-top: 2px;
    padding-bottom: 4px;
}
.select2-container .select2-selection--multiple {
    min-height: 34px;
    border-color: #ccc;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #aaa;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

/* shade and size of slider arrows*/
.carousel-control {width: 6%;}
.carousel-control.right, .carousel-control.left {background-image: none;}

/* no different badge styles in boot3*/
.badge-success {background-color: #5cb85c;}
.badge-warning {background-color: #FF9800;}
.badge-danger {background-color:#F44336;}

.carousel .carousel-inner .item img {
  width: 100%;
}

.badged-name {
  padding-right: 50px
}

/* bbcode style fix */
div.sceditor-group {padding: 1px 15px 5px 5px !important;}
.sceditor-button {padding: 0px 0px 0px 2px !important; width: 20px !important;}
.sceditor-button, .sceditor-button div {margin-top: 3px !important;}

.min-h {
	min-height: 119px !important;
	display:block;
}

#myLocation #mapCanvas {
	height: 400px;
}

.remove-padding {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.error{
	color:#ff1a1a;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.dropdown-languages {
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
}

.display-block {
	display: block!important;
}

.display-inline-block {
	display: inline-block;!important;
}

.mt-3 {
	margin-top: 3px!important;
}

.m-5 {
	margin: 5px!important;
}

.m-3 {
	margin: 3px!important;
}

.vertical-center {
	vertical-align: center!important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button_strength {
	display: none;
}
.strength_meter{
	height:30px;
	width: 100%;
	background:silver;
	margin-top: 10px;
}
.strength_meter > div {
	width:100%;
	height:30px;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	line-height:30px;
}
.strength_meter .veryweak{
	background-color: #a94442;
	border-color: #a94442!important
}
.strength_meter .weak{
	background-color: #8a6d3b;
	border-color: #8a6d3b!important;
}
.strength_meter .medium{
	background-color: #31708f;
	border-color: #31708f!important;
}
.strength_meter .strong{
	background-color: #3c763d;
	border-color: #3c763d!important;
}

.dropzone {
    border-width: 1px !important;
    border-style: dashed !important;
}

.fa, .fas {
    font-weight:900!important
}

.calendar {
    padding: 0 15px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.calendar > .row > .calendar-day {
    width: 14.28571428571429%;
    border: 1px solid rgb(235, 235, 235);
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-height: 120px;
}

.calendar > .row > .calendar-day.calendar-no-current-month {
    color: rgb(200, 200, 200);
}

.calendar > .row > .calendar-day:last-child {
    border-right-width: 1px;
}

.calendar > .row:last-child > .calendar-day {
    border-bottom-width: 1px;
}

.calendar-day > time {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
    padding: 10px 10px 3px 0px;
    text-align: right;
}

.calendar-day > .events {
    cursor: pointer;
}

.calendar-day > .events > .event h4 {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
}

#toast-container > div{
  opacity: 1!important;
}
#toast-container a{
  color: #FFF!important;
}

@media screen and (max-width: 979px) {
	.navbar .nav > li { border:0; }
}

@media only screen and (max-width: 767px) {
	.modal-open .modal{
		padding-right: 0 !important;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		position: inherit;
		min-height: 1px;
	}
}

/* Responsive Button Groups */
@media only screen and (max-width : 480px) {
	.btn-group > .btn-group{
		display: block;
		width: 100%;
	}

	.btn-group > .btn-group:first-child > .btn {
		border-radius: 6px 6px 0 0;
	}

	.btn-group > .btn-group:first-child:not(:last-child):not(.dropdown-toggle) > .btn {
		border-top-right-radius: 6px;
	}

	.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
		border-radius: 0 0 6px 6px;
	}

	.btn-group .btn-group + .btn-group {
		margin-left: 0;
	}
}
