robots.txt
oc/config/auth.php
oc/config/database.php
.htaccess
sitemap.xml.gz
sitemap.xml
install/install.lock
oc/cache/*
oc/logs/*
images/*
themes/*
!themes/default/
!themes/basecamp_free/
oc/vendor/hybridauth/logs.txt
oc/codecept.phar
oc/tests/_output/*
/vendor
/node_modules
