/**
 * Custom theme styles that overwrites theme 
 */

a {color: #BF763B;}
a:hover {color: #9F571D;}

.category_box_title {background-color: #FCA055;}

.navbar-inverse {background-color: #FCA055; border-color: #DF7A29;}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background-color: #FCA055;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {background-color: #DF7A29;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {background-color: #DF7A29;}

.badge-success{background-color: #FCA055;}

.featured{background: #FAD4C0;}

.btn-info, .label-info {
    background-color: #fcb376;
    border-color: #FCA055;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
    background-color: #FCA055!important;
    border-color: #DF7A29!important;
}
.btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #DF7A29;
    border-color: #c98044;
}

.btn-success,
.btn-primary{background-color: #DF7A29; border-color: #BF6923;}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > dropdown-toggle.btn-primary {background-color: #BF5B0B!important; border-color: #9F4C09!important;}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #DF7A29;
    border-color: #DF7A29;
}
.pagination > li > a, .pagination > li > span {
	color: #DF7A29;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
	color: #BF6923;
}

.panel-home-categories > .panel-heading {
    background-color: #FCA055;
}
.panel-sidebar > .panel-heading {
    border-top: 8px #FCA055 solid;
}

.slider-handle{
	background-color: #FCA055;
	background-image: linear-gradient(to bottom, #FCA055, #DF7A29);
}

.text-info{color:#854918;}

/* Forums */
.table > tbody > tr.success > td{
    background-color: #fef5ee;
}
.table > tbody > tr.success:hover > td {
    background-color: #feecdd;
}
