/*!
 * Open Classifieds Admin panel.
 */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $body-bg;
    font-family: $font-family-base;
    color:$text-color;
    font-size:$font-size-base;
    a {
        color:$brand-primary;
        @include transition(all .2s ease);
        &:active {
            outline: none;
        }
    }
}

#page-wrapper {
    margin: 0 0 0 250px;
    padding-top:25px;
}

#wrapper {
    width: 100%;
    padding-top:61px;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.breadcrumb {
    background:none;
    padding:10px 0;
    margin:0;
    > li + li:before {
       content: "/"
    }
}

.statcard {
    padding:10px;
    background:#ffffff;
    margin-bottom:15px;
    .statcard-desc {
        display:inline-block;
        color:$brand-primary;
    }
    canvas {
        max-width:100%;
        border-bottom:1px solid #eee;
    }
    hr {
        margin:10px 0;
    }
}

.media-object {
    max-width:100%;
}

.available-themes {
    .row {
        padding-bottom:15px;
        border-bottom:1px solid $gray-lighter;
    }
}

.accordion-inner {
    margin-left:15px;
}

.space-top {
    margin-top:15px !important;
}

.space-right {
    margin-right:15px !important;
}

.space-bottom {
    margin-bottom:15px !important;
}

.space-left {
    margin-left:15px !important;
}

.well {
    display:inline-block;
    width:100%;
}

.bootgrid-footer .infoBar, .bootgrid-header .actionBar {
    text-align:initial;
    .search {
        .glyphicon {
            display:table-cell;
        }
    }
}

/* Breadcrumbs
------------------------------------
*/
.breadcrumb {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        box-shadow: none;
        background-color: transparent;
        padding: 0 0 15px;
        margin: 0;
        border: none;
        text-transform:uppercase;
        display: block;
        a {
            margin-left: 5px;
            margin-right: 5px;
            font-size: 12px !important;
            font-weight: 400;
            color: #7b7d82;
            &.active {
                font-weight: 600;
                color:#0090d9;
            }
        }
        li {
            padding-left:0px;
        }
        & > li {
            & + li {
                &:before {
                    padding: 0 5px;
                    color: #515050;
                    font-family: 'Font Awesome 5 Free';
                    content: "\f105";
                    font-weight:bold;
                }
            }
        }
        > .active {
            font-size: 12px !important;
            color: $brand-primary;
            &:before {
                padding: 0 10px 0 5px;
            }
        }
    }
.breadcrumb a,
.breadcrumb i,
.breadcrumb span,.breadcrumb li {
    color: #7b7d82;
    font-weight: 500;
    text-shadow: none;
}

.nowrap {
    white-space: nowrap!important;
}

.icon-popup {
    z-index: 1060;
}

/*WIDGET VIEW*/
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
    position: absolute;
    top: 0;
    opacity: .5;
    z-index: 2000;
}

ul.plholder li.liholder{
    cursor: move !important;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    color: white;
    background: gray;
    width: 90%;
}

ul.plholder li.placeholder{
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

ul.plholder li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
    color: red;
}

/* Themes overview fixes */
.theme .thumbnail {
    background:$white;
}

/* Fix on width on bootstrap tagsinput */
.bootstrap-tagsinput {
    width:100%;
}
