.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

/* New css */
aside {
    z-index: 4;
    position: fixed;
    width: 250px;
    margin-left: -15px;
    height:100%;
    background:$sidebar-bg;
    overflow: auto;
    top:50px;
    color: $white-darker;
    @include transition(all .2s ease);
    .search-list {
         > ul {
            margin: 15px 30px 15px 12px;
            > li > a {
                padding: 0;
                font-weight: normal;
                display: block;
                padding-bottom: 7px;
                padding-top: 7px;
                font-size: 14px;
                &:hover {
                    text-decoration: none;
                    background: transparent;
                }
            }
        }
    }
}

.folded aside {
	overflow:initial;
}

/* Google CSE */
body.gsc-overflow-hidden aside {
    overflow: visible;
}

#docModal {
    .post-content {
        h1 {
            font-size: 25px;
            border-bottom: 1px solid #dfdfdf;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        h2, h3, h4, h5, h6 {
            font-size: 18px;
            font-weight: normal;
            line-height: 1;
            margin: 2em 0 0.5em;
            color: #666666;
        }
    }
}
