h1, h2, h3, h4, h5, h6 {
	font-weight:500;
	color:$text-color; 
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight:300;
}

.page-header {
	border:0;
	margin:20px 0;
	padding:0;
}

.page-title-container {
	margin-bottom:30px;
}

.page-title {
	margin-bottom:10px;
	margin-top: 0px;
	font-size: 	27px;
	line-height: 35px;
	font-weight: 500;
	color: $text-color;
}

.page-description {
	display:inline;
	padding-left:15px;
	color:$text-color;
	a {
		font-weight:700;
	}
}

